# Data Mining project
## 2_filesAnalysis - raw_to_correct

In this part we will describe quatity and distribution of original files, as first approach to initial data description.
We also will analyse fields in every file to select final fields to be included in dataset

In [1]:
import json
import os.path
import sys
import csv
import numpy as np
import pandas as pd

In [2]:
pathori = "../Data/Raw/Main/"
pathtemp = "../Data/Interim/"
pathdest = "../Data/Processed/"

In [3]:
season_list = []
cols_list = []

#print(pathori)
for folder in os.listdir(pathori):
    country = folder
    current_compet = ""
#    print ('  ' + country)
    for subfolder in os.listdir(pathori+folder):
        competition = subfolder
#        print ('    '+competition)
        
        for file in os.listdir(pathori+'/'+folder+'/'+subfolder):
            season_short = file.split(".")[0]
            season = "20" + season_short[0:2] + "-" + "20" + season_short[2:4]
#            print ('      '+season)
            season_info = {"country": country, "competition": competition, "season":season}
        
            # Store columns information
            file_path = pathori+folder+"/"+subfolder+"/"+file
#            print (file_path)
            try:
                ds = pd.read_csv(file_path)
                season_list.append(season_info)   
            
                if competition != current_compet:
                    current_compet = competition
                
                    cols = list(ds)
                    for col in cols:
                        cols_list.append({"country":country, "competition":competition, "column": col})
                 
            except:
                print ("Can't read file: " + file_path)

Can't read file: ../Data/Raw/Main/Belgium/JupilerLeague/0405.csv
Can't read file: ../Data/Raw/Main/England/Championship/0405.csv
Can't read file: ../Data/Raw/Main/England/Conference/0304.csv
Can't read file: ../Data/Raw/Main/England/Conference/0405.csv
Can't read file: ../Data/Raw/Main/England/Conference/1617.csv
Can't read file: ../Data/Raw/Main/England/League1/0304.csv
Can't read file: ../Data/Raw/Main/England/League1/0405.csv
Can't read file: ../Data/Raw/Main/England/League2/0304.csv
Can't read file: ../Data/Raw/Main/England/League2/0405.csv
Can't read file: ../Data/Raw/Main/England/Premier/0304.csv
Can't read file: ../Data/Raw/Main/England/Premier/0405.csv
Can't read file: ../Data/Raw/Main/France/Division2/0304.csv
Can't read file: ../Data/Raw/Main/France/Division2/0708.csv
Can't read file: ../Data/Raw/Main/France/LeChampionnat/0304.csv
Can't read file: ../Data/Raw/Main/Germany/Liga1/0304.csv
Can't read file: ../Data/Raw/Main/Germany/Liga2/0304.csv
Can't read file: ../Data/Raw/Main/Germany/Liga2/0405.csv
Can't read file: ../Data/Raw/Main/Greece/EthnikiKatigoria/0405.csv
Can't read file: ../Data/Raw/Main/Italy/SerieA/0304.csv
Can't read file: ../Data/Raw/Main/Italy/SerieA/0405.csv
Can't read file: ../Data/Raw/Main/Italy/SerieB/0304.csv
Can't read file: ../Data/Raw/Main/Italy/SerieB/0405.csv
Can't read file: ../Data/Raw/Main/Netherlands/Eredivisie/0405.csv
Can't read file: ../Data/Raw/Main/Netherlands/Eredivisie/0708.csv
Can't read file: ../Data/Raw/Main/Portugal/Liga1/0304.csv
Can't read file: ../Data/Raw/Main/Portugal/Liga1/0708.csv
Can't read file: ../Data/Raw/Main/Scotland/Division1/0405.csv
Can't read file: ../Data/Raw/Main/Scotland/Division3/0304.csv
Can't read file: ../Data/Raw/Main/Scotland/Division3/0405.csv
Can't read file: ../Data/Raw/Main/Scotland/Premier/0304.csv
Can't read file: ../Data/Raw/Main/Scotland/Premier/0405.csv
Can't read file: ../Data/Raw/Main/Spain/Primera/0405.csv
Can't read file: ../Data/Raw/Main/Spain/Segunda/0304.csv
Can't read file: ../Data/Raw/Main/Spain/Segunda/0405.csv
Can't read file: ../Data/Raw/Main/Spain/Segunda/0708.csv
Can't read file: ../Data/Raw/Main/Turkey/FutbolLigi1/0607.csv

In [4]:
dsfiles = pd.DataFrame(season_list)
display (dsfiles.sample(5))

       competition   country     season
294        Segunda     Spain  2012-2013
113  LeChampionnat    France  2018-2019
249      Division3  Scotland  2009-2010
230      Division2  Scotland  2004-2005
220      Division1  Scotland  2010-2011

In [5]:
dsfiles.describe()

       competition  country     season
count          316      316        316
unique          19       11         16
top      Division2  England  2009-2010
freq            30       70         22

In [6]:
dscols = pd.DataFrame(cols_list).sort_values("column")
display (dscols.head(5))

     column   competition   country
1043     AC       Premier  Scotland
659      AC        SerieA     Italy
124      AC    Conference   England
260      AC       League2   England
67       AC  Championship   England

In [7]:
dscols.describe()

       column competition  country
count    1232        1232     1232
unique    119          19       11
top       HTR     Premier  England
freq       22         136      329

In [8]:
aggregation = {"season": ["min", "max", "count"]}
dsfiles.groupby(["country","competition"]).agg(aggregation)

                                 season
                                    min        max count
country     competition
Belgium     JupilerLeague     2003-2004  2018-2019    15
England     Championship      2003-2004  2018-2019    15
            Conference        2005-2006  2018-2019    13
            League1           2005-2006  2018-2019    14
            League2           2005-2006  2018-2019    14
            Premier           2005-2006  2018-2019    14
France      Division2         2004-2005  2018-2019    14
            LeChampionnat     2004-2005  2018-2019    15
Germany     Liga1             2004-2005  2018-2019    15
            Liga2             2005-2006  2018-2019    14
Greece      EthnikiKatigoria  2003-2004  2018-2019    15
Italy       SerieA            2005-2006  2018-2019    14
            SerieB            2005-2006  2018-2019    14
Netherlands Eredivisie        2003-2004  2018-2019    14
Portugal    Liga1             2004-2005  2018-2019    14
Scotland    Division1         2003-2004  2018-2019    15
            Division2         2003-2004  2018-2019    16
            Division3         2005-2006  2018-2019    14
            Premier           2005-2006  2018-2019    14
Spain       Primera           2003-2004  2018-2019    15
            Segunda           2005-2006  2018-2019    13
Turkey      FutbolLigi1       2003-2004  2018-2019    15

In [9]:
cols_count = dscols["column"].value_counts()
print ("Number of variables: ", cols_count.count())
print ("Columns with information for allmost all files (country + competition):")
print (cols_count.head(50))

Number of variables:  119
Columns with information for allmost all files (country + competition):
HTR         22
IWD         22
IWH         22
SBD         22
FTHG        22
HTHG        22
Div         22
HTAG        22
SBA         22
IWA         22
SBH         22
Date        22
FTR         22
FTAG        22
WHH         22
WHD         22
GBH         22
GBD         22
GBA         22
WHA         22
AwayTeam    21
B365H       21
B365A       21
B365D       21
HomeTeam    21
LBH         20
LBA         20
LBD         20
BWA         14
BWD         14
BWH         14
BbAvAHA     10
BbAv>2.5    10
SJA         10
BbAHh       10
BbMx<2.5    10
BbAvA       10
GBAHH       10
BbMx>2.5    10
SJH         10
BbAvD       10
BbMxD       10
SJD         10
BbOU        10
VCD         10
BbAvH       10
BbMxAHH     10
VCA         10
BbAv<2.5    10
BbMxAHA     10
Name: column, dtype: int64

In [10]:
potential_cols=['B365H','BSH','BWH','GBH','IWH','LBH','PSH and PH','SOH','SBH','SJH','SYH','VCH','WHH']
dspotential_cols = dscols[dscols['column'].isin(potential_cols)]
dspotential_cols.head(10)

    column competition      country
500  B365H       Liga1      Germany
333  B365H     Premier      England
719  B365H      SerieB        Italy
197  B365H     League1      England
980  B365H   Division3     Scotland
826  B365H       Liga1     Portugal
874  B365H   Division1     Scotland
774  B365H  Eredivisie  Netherlands
929  B365H   Division2     Scotland
553  B365H       Liga2      Germany

In [11]:
dspotential_cols['column'].value_counts()

IWH      22
SBH      22
GBH      22
WHH      22
B365H    21
LBH      20
BWH      14
SJH      10
VCH      10
SOH       5
Name: column, dtype: int64

In [12]:
dspotential_cols.pivot_table(index=['column'],columns=['country'],values=['competition'],aggfunc='count',fill_value=0)

        competition                                                           \
country     Belgium England France Germany Greece Italy Netherlands Portugal
column
B365H             1       5      2       2      0     2           1        1
BWH               0       4      2       2      0     2           0        1
GBH               1       5      2       2      1     2           1        1
IWH               1       5      2       2      1     2           1        1
LBH               0       5      2       2      1     2           0        1
SBH               1       5      2       2      1     2           1        1
SJH               0       4      0       1      0     2           0        0
SOH               0       1      0       0      0     0           1        0
VCH               0       4      0       1      0     2           0        0
WHH               1       5      2       2      1     2           1        1


country Scotland Spain Turkey
column
B365H          4     2      1
BWH            2     1      0
GBH            4     2      1
IWH            4     2      1
LBH            4     2      1
SBH            4     2      1
SJH            2     1      0
SOH            2     1      0
VCH            2     1      0
WHH            4     2      1