In [1]:
# Add new information to unified dataset

In [16]:
import json
import os.path
import sys
import csv
import numpy as np
import pandas as pd
from colorama import Fore

In [36]:
pathori = "../Data/Raw/Main/"
pathtemp = "../Data/Interim/"
pathdest = "../Data/Processed/"
filetemp = "main_competitions.csv"
filenew = "main_competitions_new.csv"
filedest = "main_competitions.csv"

In [18]:
# Read main dataset
url=pathtemp + filetemp
#print (Fore.BLACK + url)

parse_dates=["Date"]
dsmain = pd.read_csv(url, parse_dates=parse_dates, index_col=False)
dsmain.shape

(106839, 20)

In [19]:
# Read new dataset
url=pathtemp + filenew
#print (Fore.BLACK + url)

parse_dates=["Date"]
dsnew = pd.read_csv(url, parse_dates=parse_dates, index_col=False)
dsnew.shape

(3549, 20)

In [20]:
dsmain.columns

Index(['Country', 'Competition', 'Season', 'Div', 'Date', 'HomeTeam',
       'AwayTeam', 'FTR', 'WHH', 'WHD', 'WHA', 'SBH', 'SBD', 'SBA', 'IWH',
       'IWD', 'IWA', 'GBH', 'GBD', 'GBA'],
      dtype='object')

In [21]:
dsjoin = dsmain.append(dsnew).drop_duplicates()
dsjoin.shape

(106839, 20)

In [25]:
dsjoin['Season'].value_counts().sort_index()

2003-2004    2448
2004-2005    1858
2005-2006    7786
2006-2007    7504
2007-2008    6422
2008-2009    7810
2009-2010    7634
2010-2011    7744
2011-2012    7744
2012-2013    7754
2013-2014    7816
2014-2015    7885
2015-2016    7817
2016-2017    7258
2017-2018    7810
2018-2019    3549
Name: Season, dtype: int64

In [33]:
aggregation = {"Season": ["min", "max", "count"]}
dsjoin.groupby(["Country","Competition"]).agg(aggregation)

                                 Season
                                    min        max count
Country     Competition
Belgium     JupilerLeague     2003-2004  2018-2019  3812
England     Championship      2003-2004  2018-2019  7993
            Conference        2005-2006  2018-2019  6771
            League1           2005-2006  2018-2019  7439
            League2           2005-2006  2018-2019  7437
            Premier           2005-2006  2018-2019  5111
France      Division2         2004-2005  2018-2019  5121
            LeChampionnat     2004-2005  2018-2019  5490
Germany     Liga1             2004-2005  2018-2019  4419
            Liga2             2005-2006  2018-2019  4131
Greece      EthnikiKatigoria  2003-2004  2018-2019  3605
Italy       SerieA            2005-2006  2018-2019  5102
            SerieB            2005-2006  2018-2019  6152
Netherlands Eredivisie        2003-2004  2018-2019  4123
Portugal    Liga1             2004-2005  2018-2019  3636
Scotland    Division1         2003-2004  2018-2019  2605
            Division2         2003-2004  2018-2019  2785
            Division3         2005-2006  2018-2019  2417
            Premier           2005-2006  2018-2019  3068
Spain       Primera           2003-2004  2018-2019  5480
            Segunda           2005-2006  2018-2019  5744
Turkey      FutbolLigi1       2003-2004  2018-2019  4398

In [35]:
aggregation = {"Date": ["max"]}
dsjoin.groupby(["Country","Competition"]).agg(aggregation)

                                   Date
                                    max
Country     Competition
Belgium     JupilerLeague    2018-12-16
England     Championship     2018-12-17
            Conference       2018-12-04
            League1          2018-12-15
            League2          2018-12-15
            Premier          2018-12-16
France      Division2        2018-12-17
            LeChampionnat    2018-12-16
Germany     Liga1            2018-12-16
            Liga2            2018-12-17
Greece      EthnikiKatigoria 2018-12-17
Italy       SerieA           2018-12-17
            SerieB           2018-12-17
Netherlands Eredivisie       2018-12-16
Portugal    Liga1            2018-12-16
Scotland    Division1        2018-12-15
            Division2        2018-12-15
            Division3        2018-12-15
            Premier          2018-12-16
Spain       Primera          2018-12-17
            Segunda          2018-12-16
Turkey      FutbolLigi1      2018-12-17

In [37]:
dsjoin.to_csv(pathdest + filedest, index=None)