# Data Mining project
## 4_fieldsAnalysis-raw_to_correct

Analysis of data type of fields in DataSet

In [1]:
import numpy as np
import pandas as pd
from colorama import Fore

In [2]:
pathori = "../Data/Raw/Main/"
pathtemp = "../Data/Interim/"
pathdest = "../Data/Processed/"
filetemp = "main_competitions.csv"

In [3]:
# Open dataset
url = pathtemp + filetemp
parse_dates=["Date"]
ds = pd.read_csv(url, parse_dates=parse_dates, index_col=False)

In [4]:
ds.shape

(105503, 20)

In [5]:
ds.columns

Index(['Country', 'Competition', 'Season', 'Div', 'Date', 'HomeTeam',
       'AwayTeam', 'FTR', 'WHH', 'WHD', 'WHA', 'SBH', 'SBD', 'SBA', 'IWH',
       'IWD', 'IWA', 'GBH', 'GBD', 'GBA'],
      dtype='object')

In [6]:
ds.sample(5)

,Country,Competition,Season,Div,Date,HomeTeam,AwayTeam,FTR,WHH,WHD,WHA,SBH,SBD,SBA,IWH,IWD,IWA,GBH,GBD,GBA
91436,Spain,Primera,2007-2008,SP1,2008-01-26,Sevilla,Osasuna,H,1.50,3.4,6.0,1.5,3.6,6.5,1.55,3.40,5.80,1.55,3.6,6.00
37705,England,Premier,2017-2018,E0,2017-04-11,Newcastle,Bournemouth,A,2.00,3.4,4.0,NaN,NaN,NaN,1.90,3.50,4.10,NaN,NaN,NaN
39961,France,Division2,2009-2010,F2,2010-07-05,Tours,Bastia,D,1.91,3.1,4.0,2.0,3.0,3.6,1.90,3.10,3.80,1.95,3.1,3.75
17675,England,Conference,2017-2018,EC,2017-02-09,Barrow,Boreham Wood,H,2.25,3.2,3.0,NaN,NaN,NaN,2.20,3.15,2.85,NaN,NaN,NaN
18691,England,League1,2005-2006,E2,2006-04-02,Brentford,Walsall,H,1.70,3.2,4.5,1.7,3.4,4.5,1.75,3.20,4.00,1.70,3.3,4.70

In [7]:
ds.dtypes
# All types are correct

Country                object
Competition            object
Season                 object
Div                    object
Date           datetime64[ns]
HomeTeam               object
AwayTeam               object
FTR                    object
WHH                   float64
WHD                   float64
WHA                   float64
SBH                   float64
SBD                   float64
SBA                   float64
IWH                   float64
IWD                   float64
IWA                   float64
GBH                   float64
GBD                   float64
GBA                   float64
dtype: object