# Data Mining project
## 5_fieldsAnalysis - correct to consistent

In this notebook we will analysis and improve consistency of dataset fields

In [17]:
import os
import os.path
import numpy as np
import pandas as pd
from colorama import Fore

In [18]:
pathori = "../Data/Raw/Main/"
pathtemp = "../Data/Interim/"
pathdest = "../Data/Processed/"
filetemp = "main_competitions.csv"
filedest = "main_competitions.csv"

In [19]:
# Open dataset
url = pathtemp + filetemp
parse_dates=["Date"]
ds = pd.read_csv(url, parse_dates=parse_dates, index_col=False)

In [20]:
print("Shape: ", ds.shape)
print("Columns: ", ds.columns)
print("Shample data:")
display(ds.head(5))

Shape:  (105503, 20)
Columns:  Index(['Country', 'Competition', 'Season', 'Div', 'Date', 'HomeTeam',
       'AwayTeam', 'FTR', 'WHH', 'WHD', 'WHA', 'SBH', 'SBD', 'SBA', 'IWH',
       'IWD', 'IWA', 'GBH', 'GBD', 'GBA'],
      dtype='object')
Shample data:

,Country,Competition,Season,Div,Date,HomeTeam,AwayTeam,FTR,WHH,WHD,WHA,SBH,SBD,SBA,IWH,IWD,IWA,GBH,GBD,GBA
0,Belgium,JupilerLeague,2003-2004,B1,2003-08-08,Club Brugge,Genk,H,NaN,NaN,NaN,1.44,3.75,6.50,1.45,3.8,5.4,1.40,3.80,6.85
1,Belgium,JupilerLeague,2003-2004,B1,2003-09-08,Anderlecht,Antwerp,H,1.22,5.0,9.5,1.20,5.50,10.00,1.30,4.2,8.0,1.20,5.50,9.25
2,Belgium,JupilerLeague,2003-2004,B1,2003-09-08,Charleroi,Lierse,A,2.50,3.4,2.3,2.62,3.40,2.25,2.90,3.2,2.1,2.50,3.35,2.35
3,Belgium,JupilerLeague,2003-2004,B1,2003-09-08,Germinal,Bergen,H,1.90,3.5,3.2,1.90,3.40,3.40,1.90,3.4,3.2,1.85,3.35,3.50
4,Belgium,JupilerLeague,2003-2004,B1,2003-09-08,Lokeren,St Truiden,D,1.66,3.6,4.0,1.72,3.50,4.00,1.90,3.4,3.2,1.80,3.40,3.65

In [21]:
ds.describe()
# All columns has ranges of values similars and expected

,WHH,WHD,WHA,SBH,SBD,SBA,IWH,IWD,IWA,GBH,GBD,GBA
count,102802.000000,102802.000000,102802.000000,56511.000000,56512.000000,56512.000000,103947.000000,103947.000000,103943.000000,64437.000000,64437.000000,64437.000000
mean,2.395332,3.464835,3.933207,2.302117,3.411661,3.935298,2.323088,3.377620,3.721802,2.311443,3.411856,3.907455
std,1.252241,0.730167,2.575264,1.083365,0.613919,2.293527,1.105036,0.648825,2.212214,1.071491,0.614610,2.223692
min,1.010000,1.020000,1.020000,1.020000,1.200000,1.020000,1.010000,1.500000,1.030000,1.040000,1.250000,1.060000
25%,1.800000,3.100000,2.620000,1.730000,3.200000,2.600000,1.750000,3.100000,2.550000,1.750000,3.200000,2.600000
50%,2.150000,3.300000,3.250000,2.100000,3.250000,3.250000,2.100000,3.200000,3.150000,2.100000,3.250000,3.300000
75%,2.600000,3.500000,4.330000,2.500000,3.500000,4.500000,2.500000,3.400000,4.200000,2.500000,3.500000,4.500000
max,26.000000,17.000000,51.000000,26.000000,13.000000,34.000000,25.000000,16.000000,70.000000,24.000000,11.000000,34.000000

In [6]:
# Detect rows with nulls
ds_nan = ds.loc[ds.isnull().any(axis=1)]
print ('Rows with nulls: ',ds_nan.shape[0])
display(ds_nan.sample(5))

Rows with nulls:  52031

,Country,Competition,Season,Div,Date,HomeTeam,AwayTeam,FTR,WHH,WHD,WHA,SBH,SBD,SBA,IWH,IWD,IWA,GBH,GBD,GBA
55149,Germany,Liga2,2012-2013,D2,2012-04-11,Aalen,FC Koln,H,2.62,3.25,2.50,NaN,NaN,NaN,2.60,3.4,2.50,2.6,3.4,2.5
94005,Spain,Primera,2014-2015,SP1,2014-09-11,Valencia,Ath Bilbao,D,1.67,3.50,5.50,NaN,NaN,NaN,1.65,3.9,4.60,NaN,NaN,NaN
10592,England,Championship,2016-2017,E1,2016-03-12,Blackburn,Huddersfield,D,2.70,3.20,2.80,NaN,NaN,NaN,2.50,3.0,2.65,NaN,NaN,NaN
30181,England,League2,2013-2014,E3,2013-09-14,Chesterfield,AFC Wimbledon,H,1.83,3.10,5.00,NaN,NaN,NaN,1.65,3.4,4.20,NaN,NaN,NaN
10259,England,Championship,2015-2016,E1,2016-03-15,Brighton,Reading,H,1.91,3.30,4.33,NaN,NaN,NaN,1.90,3.2,3.60,NaN,NaN,NaN

In [7]:
# Detect columns with nulls
ds.isnull().sum()

Country            0
Competition        0
Season             0
Div              145
Date             145
HomeTeam         385
AwayTeam         385
FTR              146
WHH             2701
WHD             2701
WHA             2701
SBH            48992
SBD            48991
SBA            48991
IWH             1556
IWD             1556
IWA             1560
GBH            41066
GBD            41066
GBA            41066
dtype: int64

In [8]:
dsdate_null = ds.loc[ds['Date'].isnull()]
print('Date: ', dsdate_null.shape[0])
display(dsdate_null.head(5))

Date:  145

,Country,Competition,Season,Div,Date,HomeTeam,AwayTeam,FTR,WHH,WHD,WHA,SBH,SBD,SBA,IWH,IWD,IWA,GBH,GBD,GBA
9820,England,Championship,2014-2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16477,England,Conference,2013-2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16478,England,Conference,2013-2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16479,England,Conference,2013-2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17032,England,Conference,2014-2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Delete date null rows
ds.dropna(subset=['Date'], how='all',inplace=True)

In [10]:
ds_null = ds.loc[ds['HomeTeam'].isnull()]
print('Home Team null: ', ds_null.shape[0])
ds_null.sample(5)

Home Team null:  240

,Country,Competition,Season,Div,Date,HomeTeam,AwayTeam,FTR,WHH,WHD,WHA,SBH,SBD,SBA,IWH,IWD,IWA,GBH,GBD,GBA
57140,Greece,EthnikiKatigoria,2003-2004,G1,2004-02-28,NaN,NaN,A,1.85,3.2,3.50,1.75,3.2,4.2,1.8,3.1,3.80,1.80,3.2,3.85
57128,Greece,EthnikiKatigoria,2003-2004,G1,2004-08-02,NaN,NaN,A,NaN,NaN,NaN,2.40,3.0,2.7,2.4,3.0,2.60,2.25,3.0,2.85
57026,Greece,EthnikiKatigoria,2003-2004,G1,2003-10-19,NaN,NaN,H,2.05,3.0,3.15,2.00,3.2,3.2,2.1,2.9,2.90,2.10,3.0,3.15
57159,Greece,EthnikiKatigoria,2003-2004,G1,2004-03-21,NaN,NaN,H,NaN,NaN,NaN,1.16,6.0,10.0,1.1,7.0,15.00,1.15,5.7,12.00
57187,Greece,EthnikiKatigoria,2003-2004,G1,2004-01-05,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,3.4,3.2,1.75,4.00,3.0,1.80

In [11]:
# Delete date null rows
ds.dropna(subset=['HomeTeam'], how='all',inplace=True)

In [15]:
ds_null = ds.loc[ds['WHH'].isnull()]
print('WHH null: ', ds_null.shape[0])
ds_null.sample(5)

WHH null:  2381

,Country,Competition,Season,Div,Date,HomeTeam,AwayTeam,FTR,WHH,WHD,WHA,SBH,SBD,SBA,IWH,IWD,IWA,GBH,GBD,GBA
95916,Spain,Segunda,2005-2006,SP2,2006-05-20,Numancia,Albacete,H,NaN,NaN,NaN,1.80,3.00,4.5,1.80,2.8,4.4,1.80,3.00,4.20
12862,England,Conference,2007-2008,EC,2007-01-11,Rushden & D,Oxford,H,NaN,NaN,NaN,2.50,3.30,2.5,2.30,3.1,2.5,2.45,3.25,2.45
12699,England,Conference,2007-2008,EC,2007-08-25,Altrincham,Grays,A,NaN,NaN,NaN,2.65,3.25,2.4,2.30,3.1,2.5,2.50,3.20,2.40
983,Belgium,JupilerLeague,2007-2008,B1,2007-09-29,Club Brugge,Mouscron,H,NaN,NaN,NaN,1.50,3.75,6.0,1.45,3.8,5.4,1.50,3.60,5.75
82691,Scotland,Division2,2007-2008,SC2,2007-09-15,Raith Rvs,Ross County,A,NaN,NaN,NaN,1.90,3.50,3.3,2.00,3.3,2.9,1.85,3.50,3.40

In [12]:
ds.isnull().sum()

Country            0
Competition        0
Season             0
Div                0
Date               0
HomeTeam           0
AwayTeam           0
FTR                1
WHH             2381
WHD             2381
WHA             2381
SBH            48821
SBD            48820
SBA            48820
IWH             1376
IWD             1376
IWA             1380
GBH            40904
GBD            40904
GBA            40904
dtype: int64

In [14]:
if os.path.exists(pathdest + filedest):
    os.remove(pathdest + filedest)
    
ds.to_csv(pathdest + filedest, index=None)