In [1]:
# Preliminar files analysis

# In this part we will describe quatity and distribution of original files,
# as first approach to initial data description

In [2]:
import json
import os.path
import sys
import csv
import numpy as np
import pandas as pd

In [8]:
pathori = "../Data/Raw/"
pathtemp = "../Data/Interim/"
pathdest = "../Data/Processed/"

In [16]:
season_list = []
for folder in os.listdir(pathori):
    country = folder
#    print(pathori+country)
    for file in os.listdir(pathori+folder):
        competition = file.split("_")[0]
        season_short = (file.split("_")[1]).split(".")[0]
        season = "20" + season_short[0:2] + "-" + "20" + season_short[2:4]
        season_info = {"country": country, "competition": competition, "season":season}
        season_list.append(season_info)
        
df = pd.DataFrame(season_list)
print df.head(20)

   competition      country     season
0         Liga      Denmark  2004-2005
1         Liga      Denmark  2017-2018
2         Liga      Denmark  2005-2006
3         Liga      Denmark  2010-2011
4         Liga      Denmark  2008-2009
5         Liga      Denmark  2007-2008
6         Liga      Denmark  2014-2015
7         Liga      Denmark  2009-2010
8         Liga      Denmark  2011-2012
9         Liga      Denmark  2013-2014
10        Liga      Denmark  2016-2017
11        Liga      Denmark  2015-2016
12        Liga      Denmark  2003-2004
13        Liga      Denmark  2006-2007
14        Liga      Denmark  2012-2013
15  Eredivisie  Netherlands  2016-2017
16  Eredivisie  Netherlands  2006-2007
17  Eredivisie  Netherlands  2011-2012
18  Eredivisie  Netherlands  2015-2016
19  Eredivisie  Netherlands  2009-2010

In [17]:
df.describe()

       competition  country     season
count          570      570        570
unique          20       27         15
top           Liga  England  2010-2011
freq           240       75         38

In [22]:
aggregation = {"season": ["min", "max", "count"]}
df.groupby(["country","competition"]).agg(aggregation)

                                 season
                                    min        max count
country     competition
Argentina   Liga              2003-2004  2017-2018    15
Austria     Liga              2003-2004  2017-2018    15
Belgium     JupilerLeague     2003-2004  2017-2018    15
Brazil      Liga              2003-2004  2017-2018    15
China       Liga              2003-2004  2017-2018    15
Denmark     Liga              2003-2004  2017-2018    15
England     Championship      2003-2004  2017-2018    15
            Conference        2003-2004  2017-2018    15
            League1           2003-2004  2017-2018    15
            League2           2003-2004  2017-2018    15
            Premier           2003-2004  2017-2018    15
Finland     Liga              2003-2004  2017-2018    15
France      Division2         2003-2004  2017-2018    15
            LeChampionnat     2003-2004  2017-2018    15
Germany     Liga1             2003-2004  2017-2018    15
            Liga2             2003-2004  2017-2018    15
Greece      EthnikiKatigoria  2003-2004  2017-2018    15
Ireland     Liga              2003-2004  2017-2018    15
Italy       SerieA            2003-2004  2017-2018    15
            SerieB            2003-2004  2017-2018    15
Japan       Liga              2003-2004  2017-2018    15
Mexico      Liga              2003-2004  2017-2018    15
Netherlands Eredivisie        2003-2004  2017-2018    15
Norway      Liga              2003-2004  2017-2018    15
Poland      Liga              2003-2004  2017-2018    15
Portugal    Liga1             2003-2004  2017-2018    15
Romania     Liga              2003-2004  2017-2018    15
Russia      Liga              2003-2004  2017-2018    15
Scotland    Division1         2003-2004  2017-2018    15
            Division2         2003-2004  2017-2018    15
            Division3         2003-2004  2017-2018    15
            Premier           2003-2004  2017-2018    15
Spain       Primera           2003-2004  2017-2018    15
            Segunda           2003-2004  2017-2018    15
Sweden      Liga              2003-2004  2017-2018    15
Switzerland Liga              2003-2004  2017-2018    15
Turkey      FutbolLigi1       2003-2004  2017-2018    15
USA         Liga              2003-2004  2017-2018    15